/*ESTILO GERAL*/

*{margin: 0;padding: 0;-webkit-box-sizing: border-box;
    border-box:-webkit-box-sizing;
    font-size: 18px;font-family:'Helvetica Neue', sans-serif;
}

a{text-decoration: none;font-weight: bolder;}

.nav{background: #000;}
    .nav a{text-align: center;padding: 10px 0;color: #fff;}
    .nav a:hover{background: #666;}

/*Smartphone*/
@media screen and (max-width: 480px) {
    .header{display: flex; flex-direction: column;}
    .nav{display: none;flex-direction: column; order: 2;}
    .nav a{width: 100%;}
    .buttonMob{order: 1;text-align: right;padding: 5px 5% 5px 0;}
}
/*Tablet*/
@media screen and (min-width: 481px) and (max-widrh: 768px) {
    .header{display: flex; flex-direction: column;}
    .nav{display: none;flex-direction: column; order: 2;}
    .nav a{width: 100%;}
    .buttonMob{order: 1;text-align: right;padding: 5px 5% 5px 0;}

}
/*Algumas Telas de notebook e pc*/
@media screen and (min-width: 769px) and (max-widrh: 1199px) {
    .nav{display: flex;}
    .nav a{width: 25%;}
    .buttonMob{display: none;}
}
/*Telas de notebook e pc*/
@media screen and (min-width: 1200px){
    .nav{display: flex;}
    .nav a{width: 25%;}
    .buttonMob{display: none;}
}